<%- include('partials/header') -%>
<form id="formulario">
<div class="m-0 row vh-100 justify-content-center align-items-center ">
    <div class="col-8 border rounded">
        <div class="mb-3">
            <label for="inputTitle" class="form-label" >Titulo</label>
            <textarea class="form-control" id="inputTitle" rows="1"></textarea>
        </div>
        <select class="form-select" aria-label="Default select example">
            <option selected>Stack</option>
            <option value="1">Html</option>
            <option value="2">Css</option>
            <option value="3">Js</option>
        </select>
   
        <div class="mb-3">
            <label for="inputDescription" class="form-label">Detalle</label>
            <textarea class="form-control" id="inputDescription" rows="3"></textarea>
        </div>
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </div>
</form>
<%- include("partials/footer") -%>