<%- include('partials/header') -%>
<div class="reglas">
    <div>
        <h1>reglas del foro</h1>

        <img src="assets/img/REGLAS-FOROS-1.png" alt="">
    </div>
</div>
<%- include("partials/footer") -%>